@define-color foreground #d1d6d7;
@define-color background #0f1214;
@define-color separator #878889;
@define-color workspace-border #878889;
@define-color bar-background #404040;
@define-color submap #665c07;

* {
    font-family: JetBrainsMono;
    font-size: 13px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 2px;
}

window#waybar {
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: @bar-background;
    opacity: 0.6;
}

tooltip {
    background-color: @background;
    border: 2px solid;
    border-color: @foreground;
}

tooltip label {
    color: @foreground;
}

#window,
#workspaces,
#workspaces button,
#tray,
#network,
#disk,
#memory,
#cpu,
#temperature,
#pulseaudio,
#clock {
    color: @foreground;
}

#tray,
#network,
#disk,
#memory,
#cpu,
#temperature,
#pulseaudio,
#clock {
    padding: 0 10px; 
}

#window,
#workspaces,
#workspaces button {
    border-radius: 25px;
    background-color: @background;
    padding: 0 0px;
    margin: 3px;
    margin-left: 15px;
	  font-size: 17px;
}

#workspaces button {
    padding: 0 4px;
    margin: 0px;
}

#tray {
    border-radius: 20px;
    background-color: @background;
    padding: 0 10px;
    margin: 3px;
    margin-right: 15px;
	  font-size: 17px;
}

#network,
#disk,
#memory,
#cpu,
#temperature,
#pulseaudio {
  border-right: 1px solid @separator;
}

#workspaces button:hover,
#workspaces button.active {
    background-color: @background;
    border-radius: 25px;
    border-color: @workspace-border;
}

#custom-music {
    background-color: @background;
    padding: 0 10px;
    margin: 2.5px;
	  font-size: 17px;
    color: @foreground;  
    border-radius: 20px;
}

#submap {
  background-color: @submap;
  border-radius: 20px;
  margin: 2px;
  padding: 0 10px;
}
