@define-color foreground #d1d6d7;
@define-color background #666666;
@define-color bar-background rgba(0, 0, 0, 0.0);
@define-color workspace-selector #404040;
@define-color submap #A39D6A;

* {
    font-family: JetBrainsMono;
    font-size: 17px;
    font-weight: bold;
}

window#waybar {
    background-color: @bar-background;
}

#workspaces,
#tray,
#disk,
#memory,
#cpu,
#temperature,
#custom-gputemp,
#pulseaudio,
#clock,
#custom-music {
    color: @foreground;
    background-color: @background;
    opacity: 0.9;
}

#disk,
#memory,
#cpu,
#temperature,
#custom-gputemp,
#pulseaudio,
#clock,
#tray {
    padding-right: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#disk {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
}

#tray {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 20px;
}

#workspaces {
    margin: 3px;
    background-color: @background;
    border-radius: 20px;
    margin-left: 20px;
}

#workspaces button {
    padding: 0 25px;
}

#workspaces button:hover,
#workspaces button.active {
    background-color: @workspace-selector;
    border-radius: 0px;
    border-width: 0px;
}

#workspaces button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#workspaces button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#custom-music {
    background-color: @background;
    padding: 0 10px;
    margin: 3px;
    border-radius: 20px;
}

#submap {
    background-color: @submap;
    border-radius: 20px;
    margin: 3px;
    padding: 0 10px;
}