@define-color bar #404040;

* {
    font-family: JetBrainsMono;
    font-size: 17px;
    font-weight: bold;
}

window#waybar {
    background-color: @bar;
}

#workspaces,
#tray,
#disk,
#memory,
#cpu,
#temperature,
#custom-gputemp,
#pulseaudio,
#clock,
#custom-music,
#custom-taskwarrior {
    color: #d1d6d7;
    background-color: @bar;
}

#disk,
#memory,
#cpu,
#temperature,
#custom-gputemp,
#pulseaudio,
#clock,
#tray {
    padding-right: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#disk {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
}

#tray {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 20px;
}

#workspaces {
    border-radius: 20px;
    margin-left: 20px;
}

#workspaces button {
    padding: 0 25px;
}

#workspaces button:hover,
#workspaces button.active {
    background-color: #666666;
    border-radius: 0px;
    border-width: 0px;
}

#workspaces button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#workspaces button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#custom-music {
    padding: 0 15px;
    margin: 3px;
    border-radius: 20px;
}

#submap {
    background-color: #A39D6A;
    border-radius: 20px;
    margin: 3px;
    padding: 0 10px;
}

#custom-taskwarrior {
  padding: 0 15px;
  margin: 3px;
  border-radius: 20px;
}
